@import "../../styles/abstract/variables.scss";
@import "../../styles/base/base.scss";

.meal {
  margin: 0 auto;

  &__img {
    width: 85%;
    transform: scale(1);
    filter: brightness(50%);
    transition: all .3s ease;

    &:hover {
      transform: scale(.95);
      filter: brightness(75%);
    }
  }

  &__title {
    font-family: $font-head;
    font-size: 2.2rem;
    line-height: 1;
    margin-top: 1rem;
  }

  &__time,
  &__price {
    font-family: $font-body;
  }

  &__time {
    font-size: 1.4rem;
    color: $color-accent;
  }

  &__price {
    margin: 1rem 0;
    display: flex;
    column-gap: 1rem;
  }

  &__newPrice {
    color: $color-primary;
  }

  &__oldPrice {
    color: $color-accent;
    text-decoration: line-through;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }
}