@import "../abstract/variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: $default-fz;
  font-family: $font-body;
  line-height: 1.5;
}

.container {
  width: 90%;
  max-width: 120rem;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.btn {
  border: none;
  outline: none;
  background: orangered;
  color: #fff;
  padding: .7rem 1.5rem;
}