@import "../abstract/mixin.scss";
@import "../abstract/variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: $default-fz;
  font-family: $font-body;
  line-height: 1.5;
}

.container {
  width: 90%;
  max-width: 120rem;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.btn {
  border: none;
  outline: none;
  background: $color-primary;
  color: $color-light;
  padding: .7rem 1.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;

  @include breakpoint(sm) {
    font-size: 1.4rem;
    padding: .3rem .7rem;
  }
}